# ignore material.md    
material.md

# ignore all rhino and grasshopper files
*.3dm
*.bak
*.gh
*.ghx

# ---------------------------------------------------------------
# don't ignore .3dm and .gh files in the "template" directory
!template/*
# ---------------------------------------------------------------

# ignore persnal files
working/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mac and win stuff
.DS_Store
Thumbs.db

# VScode stuff
.vscode

# log fiels
*.log